.loading, .results {
    margin-top: 10px;
}

.administrator-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    padding-bottom: 40px;
}

.checkbox-trello {
    margin-left: 20px;
}

.checkbox-trello-button {
    margin-left: 20px;
}

.field-group input[type="text"] {
    max-width: 100%;
}